@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url(../imagenes/background.png); 
}

html{
  height: 100%;
}

/*Comienzo de Header*/
.grid-container {
  position: relative;
  top: 0px;
  min-height: 100%;
}

/*Cabecera de pagina-Logo-Titulo*/
header {
  position: relative;
  left: 5px;
  margin-right: 15px;
  height: 150px;
  width: 199.5%;
  background: #000000;
 }
  header h1 {
    position: absolute;
    top: 35px;
    left: 150px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
   }
  header img {
    position: absolute;
    top: 30px;
    left: 15px;
    border-radius: 50%;
    height: 50%;
   }

.logo-imagen {
  position: absolute;
  bottom: 85px;
  width: 120px; 
}

.primera-letra-titulo {
  font-size: 200%;
  color: #ffff00; 
}

/*Fin-Cabecera de pagina-Logo-Titulo*/
/*barra de navergacion*/
.menu {
  position: absolute;
  top: 40px;
  right: 15px;
  font-size: 25px;
 }

.menu ul li {
  margin: 10px;
  padding: 5px;
  list-style: none;
  display: inline-block;
 }

.menu ul li a {
  text-decoration: none;
  color: rgb(255, 251, 251);
  margin-right: 5px;
  margin-left: 5px; 
}

a {
  background-image: linear-gradient(transparent 0%, transparent 90%, hotpink 90%, hotpink 100%);
  background-repeat: no-repeat;
  background-size: 0% 90%;
  background-position-x: right;
  transition: background-size 300ms; 
}

a:hover {
  padding-bottom: 0px;
  background-size: 100% 100%;
  background-position-x: left; }

.menu ul li a:hover {
  color: #fdfafa;
 }

/*Fin-nav*/
/*Fin-header*/
/*Inicio-Section*/
section {
  position: relative;
  top: 200px;
  left: 50%;
  height: 550px;
 }

  section h2 {
    font-size: 45px;
    text-align: center;
    text-decoration: underline;
   }

article {
  padding-top: auto;
  padding-bottom: auto;
 }

#Tabla {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

  #Tabla ol li {
    margin-left: 30px;
    margin-right: 10px; 
  }

tr td {
  text-align: center;
 }

tr td ol {
  text-align: left;
 }

 /*INICIO-ARTICULO-INFORMACION*/

.Informacion-autos{
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}
 /*FIN-ARTICULO-INFORMACION*/


/*FIN-SECTION-INDEX*/
/*INICIO-DE-SECTION-AUTOS*/

.grid-galeria-section {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 1000px;
  width: 100%;
 }

.galeria-de-autos {
  display: grid;
  padding-top: 15%;
  grid-template-columns: 20% 20% 20% 20% 20%;
 }

.galeria img {
  width: 100%;
  border: 1px solid #000000;
  padding: 5px;
 }

.imagen-pequeña {
  width: 100%;
  border: 1px solid #000000;
  padding: 5px;
 }

/*FIN-DE-SECION-AUTOS*/
/*Footer-inicio*/

.pie-de-pagina {
  position: relative;
  height: 100%;
  width: 199.5%;
  top: 925px;
  left: 3px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 100px 100px;
  background: #000;
  color: #fff;
  height: 250px;
  align-content: center; 
  align-items: end;
}

  .pie-de-pagina h3 {
    margin-bottom: 50px;
    text-align: center; 
  }

  .pie-de-pagina p {
    margin-top: 90px;
    text-align: center; 
  }

.footer-botom {
  display: flex;
  justify-content: center;
  align-items: center; 
}

/*Footer-Fin*/


/*media-inicio*/

@media (min-width: 1200px){
  .grid-container{
    padding: 40px;
    height: 2000px;
  }
}

@media screen and (min-width: 600px){
    .grid-container{
     width: 50%;
    }
}





/*media-fin*/
